<div class="aboutContainer">
    <div class="parentContainer">
        <div class="headerDiv">
            <div class="jjlogo">
                <img src="assets\genImage\JJLOGO.png" all="jjLogo" routerLink="/" style="margin-left: 5%;">
            </div>
            <div style="height: 100%; width: 50%; align-content: space-evenly; text-align: -webkit-right;">
                <button class="backButton">
                    <img src="assets/genImage/icons8-arrow-left-64.png" alt="left-arrow" routerLink="/">
                </button>
            </div>
        </div>
        <div class="downContainer">
            <div class="box">
                <h1>ABOUT US</h1>
                <p>Belgian Waffle contain carbohydrates, sodium, and vitamins that is beneficial to the body to boost energy for various activities. Belgian waffle is a type of waffle with a lighter batter, bigger squares, and deeper pockets than American waffles. They are commonly used as a breakfast or snack.</p>
                <p>Besides producing a tasty waffle, it promotes a good reputation to its target market through its convenience and affordable price. Nothing more perfect than a ready-to-eat breakfast within their pockets or bag Coducing a tasty waffle, it promotes a good reputation to its target market through its convenience and affordable price. Nothing more perfect than a ready-to-eat breakfast within their pockets or bag.</p>
            </div>
        </div>
    </div>
</div>