.aboutContainer {
    height: 100vh;
    align-content: center;
    text-align: -webkit-center;
    background-image: url(../about/image/jungleBackground2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parentContainer {
    background-color: rgb(156 209 140 / 71%);
    width: 100%;
    height: 100%;
}

.headerDiv {
    background-color: #67aa38;
    display: flex;
    width: 100vw; 
    height: 20vh; 
}

.jjlogo {
    display: flex;
    height: 100%; 
    width: 50%;
}

.backButton {
    background-color: #b7c13f;
    border-radius: 50%;
    margin-right: 6%;
    border: none; 
    cursor: pointer;
    width: 90px; 
    height: 90px;
}

.downContainer {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    height: 80vh;
}

.box {
    width: 60%;
    height: 60%;
    padding: 30px;
    border: none;
    text-align-last: left;
    border-radius: 40px;
    background-color: #b7c13f;
    box-shadow: 16px 20px 0px 7px rgb(60 61 2);
    overflow-y: scroll;
}

.box p {
    font-size: larger;
    text-align: left;
    color: #ffffff;
}

.box h1 {
    font-size: xxx-large;
    text-align: left;
    color: #ffffff;
}