<div class="moreContainer">
    <div class="parentContainer">
        <div class="headerDiv">
            <div class="jjlogo">
                <img src="assets\genImage\JJLOGO.png" all="jjLogo" routerLink="/" style="margin-left: 5%;">
            </div>
            <div style="height: 100%; width: 50%; align-content: space-evenly; text-align: -webkit-right;">
                <button class="backButton">
                    <img src="assets/genImage/icons8-arrow-left-64.png" alt="left-arrow" routerLink="">
                </button>
            </div>
        </div>
        <div class="activityDiv">
            <div class="imageContainer">
                <div class="imgContainer">
                    <img class="actImage" src="assets\genImage\videos.png" alt="">
                </div>
                <button class="actBtn" routerLink="videos">Videos</button>
            </div>
            <div class="imageContainer">
                <div class="imgContainer">
                    <img class="actImage" src="assets\genImage\endangered.png" alt="">
                </div>
                <button class="actBtn" routerLink="endangeredanimals">Endangered Species</button>
            </div>
            <div class="imageContainer">
                <div class="imgContainer">
                    <img class="actImage" src="assets\genImage\saveani.png" alt="">
                </div>
                <button class="actBtn" routerLink="helpanimals" >Help the Animals</button>
            </div>
        </div>
    </div>
</div>