<div class="endangeredContainer">
    <div class="parentContainer">
        <div class="headerDiv">
            <div class="jjlogo">
                <img src="assets\genImage\JJLOGO.png" all="jjLogo" routerLink="/" style="margin-left: 5%;">
            </div>
            <div style="height: 100%; width: 50%; align-content: space-evenly; text-align: -webkit-right;">
                <button class="backButton">
                    <img src="assets/genImage/icons8-arrow-left-64.png" alt="left-arrow" routerLink="/">
                </button>
            </div>
        </div>
        <div class="downContainer">
            <div class="productContainer">
                <div class="imageContainer">
                    <img src="assets\genImage\productImage\mango.png" alt="">
                    <button class="prodBtn" style="background-color: #eae218;">Mango</button>
                </div>
                <div class="imageContainer">
                    <img src="assets\genImage\productImage\apple.png" alt="">
                    <button class="prodBtn" style="background-color: #dd4949;;">Apple</button>
                </div>
                <div class="imageContainer">
                    <img src="assets\genImage\productImage\grape.png" alt="">
                    <button class="prodBtn" style="background-color: #8d689f;">Grapes</button>
                </div>
                <div class="imageContainer">
                    <img src="assets\genImage\productImage\orange.png" alt="">
                    <button class="prodBtn" style="background-color: #e97a2a;">Orange</button>
                </div>
                <div class="imageContainer">
                    <img src="assets\genImage\productImage\guyabano.png" alt="">
                    <button class="prodBtn" style="background-color: #d8f143;">Guyabano</button>
                </div>
            </div>
        </div>
    </div>
</div>