<div class="endangeredContainer">
    <div class="parentContainer">
        <div class="headerDiv">
            <div class="jjlogo">
                <img src="assets\genImage\JJLOGO.png" all="jjLogo" routerLink="/" style="margin-left: 5%;">
            </div>
            <div style="height: 100%; width: 50%; align-content: space-evenly; text-align: -webkit-right;">
                <button class="backButton">
                    <img src="assets/genImage/icons8-arrow-left-64.png" alt="left-arrow" routerLink="/more">
                </button>
            </div>
        </div>
        <div class="downContainer">
        </div>
    </div>
</div>