<div class="container">
    <div class="navbarContainer">
        <div class="jjlogoContainer">
            <div class="jjlogo">

            </div>
        </div>
        <div class="navbar">
            <button routerLink="/worksheets">Worksheets</button>
            <button routerLink="/aboutus">About</button>
            <button routerLink="/contactus">Contact Us</button>
            <button routerLink="/more">More</button>
            <button routerLink="/product">Product</button>
        </div>
    </div>
    <div class="videoContainer">
        <div class="videoPlayer" style="width: 50%;"> 
            <div class="w3-card-4 videos">
                <div style="height: 60%; align-content: space-evenly;">
                    <video #videoPlayer style="width: 65%; height: 68%;" autoplay>
                        <source [src]="videoSources[0]" type="video/mp4">
                    </video>
                </div>
                <div style="margin: -15px; text-align: justify; width: 80%; width: inherit; overflow-y: scroll;">
                    <p>
                        Besides producing a tasty waffle, it promotes a good reputation to its target market through its convenience and affordable price. Nothing more perfect than a ready-to-eat breakfast within their pockets or bag Coducing a tasty waffle, it promotes a good reputation to its target market through its convenience and affordable price. Nothing more perfect than a ready-to-eat breakfast within their pockets or bag.
                    </p>
                </div>
            </div>
        </div>
        <div class="jjCharacter">
            <div style="width: 50%;">
                <img src="assets/homeImage/JJchar.png" style="height: 95%; margin-top: 20px; margin-left: 60px;">
            </div>
            <div style="width: 50%;">
                <img src="assets/homeImage/TB.png" style="width: 70%; margin-top: -90px; margin-left: -80px;">
            </div>
        </div>
    </div>
</div>